[submodule "libraries/dallas-temperature-control"]
	path = libraries/dallas-temperature-control
	url = git@github.com:milesburton/Arduino-Temperature-Control-Library.git
[submodule "libraries/MLX90614"]
	path = libraries/MLX90614
	url = git@github.com:chrisramsay/MLX90614.git
[submodule "libraries/arduino_uip"]
	path = libraries/arduino_uip
	url = git@github.com:ntruchsess/arduino_uip.git
